.navbar-brand {
   background-color: #56384b;
   font-weight: 700;
   font-size: 35px;
   padding-left: 10px;
   padding-right: 10px;
}

.navbar-light .navbar-brand {
    color: #d6bda9;
}


body {
    background-image: url(../images/hypnotize.png);
    margin-bottom: 80px;
}

h2 {
    border-bottom: solid 2px black;
}

.container {
    background: oldlace;
    margin-top: 50px;
}

img {
    height: 300px;
    width: 250px;
    
}

.label {
    background: #816288;
    color: oldlace;
    text-align: center; 
    width: 250px;
    padding: 15px 0;
    font-size: 20px;
    float: left;
}

.textBlock {
    position: absolute;
    top: 225px;
    width: 250px;
    height: 50px;
}



#copyright {
    color: oldlace;
    text-align: center;
}